body {
    font-family: sans-serif;
}

.done {
    text-decoration: line-through;
    color: lightgray;
}

.tasks_list li {
    margin: 10px 0;
}

.tasks_list li span {
    cursor: pointer;

}

.delete {
    color: red;
}