<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" >
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

    <!-- istanza VUE -->
    <div id="app">
        <input type="text" v-model="newTask">
        <button @click="addTask">Aggiungi</button>
        <ul>
            <li v-for="(task, i) in tasks" :class="task.done ? 'done' : null" :key="i">
                {{ task.text }}
                <span class="delete" @click="deleteTask(i)">
                    <i class="far fa-times-circle"></i>
                </span>
            </li>
        </ul>
    </div>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- my js -->
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>